.chart_bar_container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: row-reverse;
    
    
    font-family: 'Poppins', sans-serif;

    overflow: scroll;

    
    /* -webkit-mask-image: linear-gradient(to left, black 80%, transparent 100%); */
    mask-image: linear-gradient(to left, black 80%, transparent 100%);
}
/* .chart_bar_container::-webkit-scrollbar {
    height: 10px;
  } */

/* width */
.chart_bar_container::-webkit-scrollbar {
    width: 0;
    height: 9px;
}

/* Track */
.chart_bar_container::-webkit-scrollbar-track {
    background: var(--secondary-color); 
    border-radius: 8px;
    margin-inline: 4rem;
}

/* Handle */
.chart_bar_container::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 5px;
    border: solid 1px var(--secondary-color);
}

/* Handle on hover */
.chart_bar_container::-webkit-scrollbar-thumb:hover {
    background: #0415629b;
}

.chart_bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 3rem;

}
.last_bar {
    margin-left: 5rem;
}

.bar {
    position: relative;
    height: 79%;
    width: 2.5rem;
    border-radius: 10px;
    
}

.progress_bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    /* transition: 100ms ease-out; */
}

.progress_bar.on_focus {
    background-color: var(--primary-acc-color);
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.32);
}


.month {
    color: var(--secondary-acc-color);
    font-weight: 600;
    margin-top: 10px;
}

.year {
    color: var(--no-focus-text);
    font-weight: 600;
    font-size: 12px;
}